body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --bimage: url(https://www.toptal.com/designers/subtlepatterns/uploads/blue-snow.png);
  --background: white;
  --upload: #bebee4;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple;
  --listitem: #efdbff;
}
[data-theme='dark'] {
  --bimage: url(https://www.toptal.com/designers/subtlepatterns/uploads/darkness.png);
  --background: black;
  --upload: #6b6b8c;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
  --listitem: #3f224a;
}
